:root {
  --primary-color: #fff;
  --secondary-color: #f5f2fe;
}

body {
  background-color: var(--secondary-color);
  margin: 50px auto;
}
.weather-app {
  background-color: var(--primary-color);
  border-radius: 16px;
  max-width: 960px;
  margin: 50px auto;
  padding: 60px;
}
.app-overview {
  background-color: var(--primary-color);
  margin: 50px auto;
  border-radius: 10px;
}

h2 {
  font-size: 10px;
  line-height: 1;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h2 {
  vertical-align: inherit;
  margin: 10px;
}

.five-day-forecast {
  background-color: var(--primary-color);
  border-radius: 16px;
  max-width: 960px;
  margin: 70px auto;
  padding: 70px;
}
